*{
    --color_pri: #E1111C;
    --color_light: #FFFFFF;
    --txt_color_light: #FFFFFF;
    --txt_color_dark: #1D1D1D;
    --color_darkblue: #21262E;


    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smooth: antialiased;
    scroll-behavior: smooth;
    color: var(--txt_color_dark);

} 
.container{
    max-width: 1136px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

body{
    background-color: #F1F2F8;
}

header{
    background: linear-gradient(90deg, #870412, #E1111C);
    padding: 16px;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.btn_light_outline, .btn_light{
    border-radius: 100px;
    border: 1px solid var(--color_light)!important;
    color: var(--txt_color_light)!important;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 136px;
    font-size: 14px;
}

.btn_light{
    border-radius: 100px;
    background-color: var(--color_light)!important;
    color: var(--txt_color_dark)!important;
}
.cta_red{
    border-radius: 100px;
    background-color: var(--color_pri);
    color: var(--txt_color_light);  
    width: 100%;
    height: 40px;
    max-width: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 16px;
    box-sizing: border-box;
    font-weight: 500;
    animation-delay: 200ms;
}



// HEADER



.cont_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1136px;
}
.main_logo{
    a{
        display: flex;
        align-items: center;
    }
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 24px;
    .nav_links{
        display: flex;
        align-items: center;
        gap: 32px;
        a{
            text-decoration: none;
            color: var(--txt_color_light);
        }
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    li{
        list-style: none;
    }
    
}




// HERO SECTION

.s_hero_section{
    height: 100vh;
    background-color: var(--color_light);
    max-height: 630px;
    padding: 100px 24px 24px;
    box-sizing: border-box;position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        width:100%;
        z-index: 0;
        height: 100%;
 
    }
    &::before{
        left: 0;
        bottom: 0;
        background: url('../images/mask3.svg') no-repeat;
        background-size: contain;
        background-position: left bottom;
        max-height: 400px;
        max-width: 400px;
    }
    &::after{
        right: 0;
        top: 0;
        background: url('../images/mask4.svg') no-repeat;
        background-size: contain;
        background-position: right top;
        max-width: 470px;
        max-height: 620PX;
    }
    h1{
        font-size: 32px;
        font-weight: 400;
        animation-delay: 200ms;
        span{
            font-size: 40px;  
            font-weight: 800;
        }
    }
    h2{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        animation-delay: 100ms;
    }
    .container{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        gap: 48px;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    picture{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 2;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        video{
            width: 100%;
            max-width: 500px;
        }
    }
}


.s_hero_section_dark{
    background:#21262E;
    padding: 64px 24px;
    box-sizing: border-box;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::before, &::after {
        content: '';
        position: absolute;
        width:100%;
        z-index: 0;
        height: 100%;
        
        max-height: 500PX;
    }
    &::before{
        left: 0;
        top: 0;
        background: url('../images/mask_dark1.svg') no-repeat center;
        background-size: cover;
        background-position: left;
        max-width: 500px;
    }
    &::after{
        right: 0;
        top: 0;
        background: url('../images/mask_dark2.svg') no-repeat center;
        background-size: cover;
        background-position: top right;
        max-width: 350px;
    }
    .container_center{
        width: 100%;
        max-width: 800px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 40px 40px;
        animation-delay: 400ms;
        transition: 1000ms ease all;
        h1{
            text-align: center;
            color: var(--txt_color_light);
            font-size: 24px;
            font-weight: 400;
            margin: 0;
            span{
                font-weight: 800;
                font-size: 48px;
                color: var(--txt_color_light);
            }
        }
        h2{
            color: var(--txt_color_light);
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            margin: 0;
            max-width: 600px;
        }

    }


    .big_picture{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        display: flex;
        justify-content: center;
        gap: 16px;
        max-width: 1380px;
        margin: 0 auto;
        padding: 0 24px 24px;
        box-sizing: border-box;
        animation-delay: 300ms;
        .c_img{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            &:nth-child(1){
                max-width: 216px;
                animation-delay: 200ms;
            }
            &:nth-child(2){
                max-width: 160px;
                animation-delay: 300ms;
            }
            &:nth-child(3){
                max-width: 292px;
                animation-delay: 500ms;
            }
            &:nth-child(4){
                max-width: 174px;
                animation-delay: 600ms;
            }
            &:nth-child(5){
                max-width: 217px;
                animation-delay: 200ms;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 14%;
            bottom: 0;
            background: linear-gradient(to top, #21262E,rgba(33, 38, 46, 0));
            z-index: 1;
            mix-blend-mode: multiply;
        }
    }
}

// SECCION SOLUCIONES

.s_soluciones{
    padding: 80px 16px;
    box-sizing: border-box;
    .container{
        max-width: 944px;
    }
    h2{
        font-size: 42px;
        font-weight: 600;
        margin: 0;
    }
}
.cont_soluciones{
    .nav_tabs{
        margin: 0 0 24px;
        padding: 0 24px;
        box-sizing: border-box;
        ul{
            padding: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            justify-content: center;
            position: relative;
            
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -8px;
                width: 100%;
                height: 2px;
                background-color: #E0E1E3;
                z-index: 1;
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                max-width: 25%;
                height: 4px;
                background-color: var(--color_pri);
                bottom: -9px;
                left: 0;
                z-index: 2;
                border-radius: 100px;
                transform: translateX(0%);
            }

        }

        li{
            text-decoration: none;
            color: #6E6E6E;
            font-size: 14px;
            padding: 8px 8px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            list-style: none;
            cursor: pointer;
            position: relative;
            &:nth-child(1){
                &.active{
                    color: #404040;
                    font-weight: 600;
                } 
            }
            &:nth-child(2){
                &.active{
                    color: #404040;
                    font-weight: 600;
                } 
            }
            &:nth-child(3){   
                &.active{
                    color: #404040;
                    font-weight: 600;
                }    
            }
            &:nth-child(4){    
                &.active{
                    color: #404040;
                    font-weight: 600;
                }      
            }
        }
    }

    .grand_container{
        position: relative;
    }
    .c_soluciones{
        background-color: #FFFFFF;
        padding: 40px;
        border-radius: 16px;
        max-height: 392px;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        top: 0;
        position: absolute;
        transition: 300ms ease all;
        &.active{
            display: grid;
            z-index: 2;
            position: relative;
            z-index: 1;
            box-shadow: 0 4px 40px -10px #0000001f;
        }
        .col{
            display: flex;
            flex-direction: column;
            gap: 16px;
            h3{
                font-size: 28px;
                font-weight: 600;
                margin: 0;
            }
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 16px;
                li{
                    height: 24px;
                    position: relative;
                    margin: 0 0 0 24px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: -24px;
                        background: url('../images/leimotive.svg')no-repeat center;
                        background-size: contain;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        picture{
            display: flex;
            align-items: center;
            justify-content: center;
            video{
                width: 100%;
                max-width: 280px;
                object-fit: contain;
            }
        }
        &:nth-child(1){
            transform: scale(.9) translateY(-16px);
            &.active{
                transform: scale(1) translateY(16px);     
            }
        }
        &:nth-child(2){
            transform: scale(.9) translateY(-16px);
            &.active{
                transform: scale(1) translateY(16px);

            }
        }
        &:nth-child(3){
            transform: scale(.9) translateY(-16px);
            &.active{
                transform: scale(1) translateY(16px);
            }
        }
        &:nth-child(4){
            transform: scale(.9) translateY(-16px);
            &.active{
                transform: scale(1) translateY(16px);
            }
        }
    }
}



// SECCION COMO FUNCIONA


.s_funciona{
    background: var(--color_darkblue);
    position: relative;
    display: flex;
    align-items: center;
    padding: 60px 16px;
    box-sizing: border-box;

    h2{
        color: var(--txt_color_light);
        font-size: 42px;
        font-weight: 600;
    }
    &::before, &::after {
        content: '';
        position: absolute;
        width:100%;
        max-width: 600px;
        z-index: 0;
        height: 100%;
        max-height: 500PX;
    }
    &::before{
        right: 0;
        top: 0;
        background: url('../images/mask1.png') no-repeat center;
        background-size: contain;
        background-position: right;
    }
    &::after{
        left: 0;
        bottom: 0;
        background: url('../images/mask2.png') no-repeat center;
        background-size: contain;
        background-position: left;
    }
}


.cont_funciona{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.tabs_funciona{
    position: relative;
    z-index: 2;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide{
    display: flex;
    gap:16px;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    margin: 0 0 40px;
    transition: 300ms ease all;
    width: 90%;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 16px;
    padding: 24px;
    justify-content: flex-start;
    .cont_desc{
        color: var(--txt_color_light);
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .txt_funciona{
        color: var(--txt_color_light);
    }
    h3{
        color: var(--txt_color_light);
        font-size: 18px;
        margin: 0;
    }
    .picture{
        max-width: 500px;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .numeral{
        background-color: #F4F6F7;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        color: #4B5C6F;
        border-radius: 100px;
        transition: 300ms ease all;
    }

    &.active{
        border: 1px solid #3BFAF8;
        background-color: #343A45;
        border-radius: 16px;
        padding: 24px;
        box-sizing: border-box;
        transform: translateX(32px);
        
        .numeral{
            background-color: #3BFAF8;
            color: #008988;
        }
    }
}








.tabs_images_funciona{
    .picture{
        display: none;
        width: 100%;
        max-width: 500px;
        opacity: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin: auto;
        }
        &.active{
            display: flex;
            opacity: 1;
        }
    }
}

.badges{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    > div{
        text-align: center;
        padding: 4px 8px;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
    }
    .b1{
        background-color: #E5EEFB;
        color: #005EDC;
    }
    .b2{
        background-color: #E5F9F8;
        color: #008988;
    }
    .b3{
        background-color: #F2E8FF;
        color: #7E21FF;
    }
    .b4{
        background-color: #FEEEE5;
        color: #BF5300;
    }
}


// SECCION BENEFICIOS

.s_beneficios{
    background-color: var(--color_light);
    padding: 80px 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    &::before, &::after {
        content: '';
        position: absolute;
        width:100%;
        z-index: 0;
        height: 100%
    }
    &::before{
        left: 0;
        bottom: 0;
        background: url('../images/mask_w1.svg')no-repeat;
        background-size: contain;
        background-position: left bottom;
        max-height: 570px;
        max-width: 660px;
    }
    &::after{
        right: 0;
        top: 0;
        background: url('../images/mask_w2.svg')no-repeat;
        background-size: contain;
        background-position: right top;
        max-width: 470px;
        max-height: 620PX;
    }
    h2{
        font-size: 42px;
        font-weight: 600;
    }
}
.cont_beneficios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    position: relative;
    z-index: 1;
    .cont_video{
        padding: 16px 16px 32px;
        box-sizing: border-box;
        video{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    h3{
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        height: 24px;
    }

    .card_beneficio{
        border: 1px solid #D9D9D9;
        padding: 24px;
        box-sizing: border-box;
        background-color: var(--color_light);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .desc_beneficio{
            color: #404040;
            line-height: 1.4;
        }
        &:nth-child(1){
            animation-delay: 100ms;
        }
        &:nth-child(2){
            animation-delay: 200ms;
        }
        &:nth-child(3){
            animation-delay: 300ms;
        }
    }
}



// SECCION DE APIS

.s_apis_recomendadas{
    background-color: #F1F2F8;
    padding: 80px 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}
.head_apis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 48px;
    h2{
        font-size: 42px;
        font-weight: 600;
        margin: 0;
        span{
            font-size: 42px;
            font-weight: 400;
        }
    }
    a{
        text-decoration: none;
        background-color: var(--color_light);
        padding: 14px 24px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 24px;
        border-radius: 100px;
        font-weight: 500;
        font-size: 18px;
        span{
            border-radius: 100px;
            background-color: #EDEEF0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            font-size: 12px;
        }
    }
}

.cont_apis{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.card_api{
    background-color: var(--color_light);
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    text-decoration: none;
    transition: 300ms ease all;
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
    }
    picture{
        display: flex;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-width: 24px;
        }
    }
    h3{
        font-size: 18px;
        margin: 0;
        transition: 300ms ease all;
        height: 40px;
        width: 100%;
    }
    .desc{
        font-size: 14px;
        color: #404040;
        line-height: 1.4;
        text-decoration: none!important;
    }
    &:hover{
        transform: translateY(-8px);
        box-shadow: 0 3px 5px #a6abbd37;
        h3{
            text-decoration: underline;
        }

    }
}

// FOOTER
.s_footer{
    width: 100%;
    background-color: #FFFFFF;
}
.container_footer{
    padding: 48px 16px;
    box-sizing: border-box;
    h5{
        margin: 0 0 16px;
        font-size: 14px;
        font-weight: 600;
        color: #404040;
    }
    ul{
        padding: 0;
        list-style: none;
    }
    li{
        margin: 0 0 8px;
    }
    li a{
        text-decoration: none;
        font-size: 12px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: flex-start;
        justify-content: center;

    }
}
.subfooter{
    background-color: #201E1E;
    width: 100%;
    .container{
        color: var(--txt_color_light);
        padding: 8px 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .legal{
        font-size: 10px;
        font-weight: 300;
        color: var(--txt_color_light);
    }
}




// ****************

.video{
    overflow: hidden;
    max-width: 600px;
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




@media screen and (max-width:1050px){
    .menu_mobile{
        display: flex;
        span{
            font-size: 24px;
            padding: 0 8px 0 0;
            color: var(--color_light);
            cursor: pointer;
        }
    }
    .navbar{
        position: fixed;
        top: 64px;
        right: 0;
        width: 80%;
        height: 100vh;
        z-index: 10;
        background-color: #FFFFFF;
        transform: translateX(100%);
        transition: 300ms ease-out;
        flex-direction: column;
        justify-content:flex-start;
        padding: 24px;
        .nav_links{
            flex-direction: column  ;
            a{
                color: var(--color_darkblue);
            }
        }
        &.activeMobile{
            transform: translateX(0%);
        }
    }
    .s_hero_section .container{
        grid-template-columns: 1fr 1.2fr;
    }

}

@media screen and (max-width:768px){
    .s_hero_section .container{
        grid-template-columns: 1fr;
    }
    .s_hero_section{
        max-height: initial;
    }
    .container_footer .container{
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

@media screen and (max-width:480px){
    .subfooter{
        flex-direction: column;
        gap: 8px;
        padding: 16px;
    }
}