*{
    --color_pri: #E1111C;
    --color_light: #FFFFFF;
    --txt_color_light: #FFFFFF;
    --txt_color_dark: #1D1D1D;
    --color_darkblue: #21262E;


    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smooth: antialiased;
    scroll-behavior: smooth;
    color: var(--txt_color_dark);

} 
.container{
    max-width: 1136px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

header{
    background: linear-gradient(90deg, #870412, #E1111C);
    padding: 16px;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.btn_light_outline, .btn_light{
    border-radius: 100px;
    border: 1px solid var(--color_light)!important;
    color: var(--txt_color_light)!important;
    padding: 8px 16px;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 136px;
    font-size: 14px;
}

.btn_light{
    border-radius: 100px;
    background-color: var(--color_light)!important;
    color: var(--txt_color_dark)!important;
}
.cta_red{
    border-radius: 100px;
    background-color: var(--color_pri);
    color: var(--txt_color_light);  
    width: 100%;
    height: 40px;
    max-width: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 16px;
    box-sizing: border-box;
    font-weight: 500;
    animation-delay: 200ms;
}



// HEADER



.cont_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1136px;
}
.main_logo{
    a{
        display: flex;
        align-items: center;
    }
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 24px;
    .nav_links{
        display: flex;
        align-items: center;
        gap: 32px;
        a{
            text-decoration: none;
            color: var(--txt_color_light);
        }
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    li{
        list-style: none;
    }
    
}




// HERO SECTION

.s_hero_section{
    height: 100vh;
    background-color: var(--color_light);
    max-height: 630px;
    padding: 100px 24px 24px;
    box-sizing: border-box;position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        width:100%;
        z-index: 0;
        height: 100%;
 
    }
    &::before{
        left: 0;
        bottom: 0;
        background: url('../images/mask3.svg') no-repeat;
        background-size: contain;
        background-position: left bottom;
        max-height: 400px;
        max-width: 400px;
    }
    &::after{
        right: 0;
        top: 0;
        background: url('../images/mask4.svg') no-repeat;
        background-size: contain;
        background-position: right top;
        max-width: 470px;
        max-height: 620PX;
    }
    h1{
        font-size: 32px;
        font-weight: 400;
        animation-delay: 200ms;
        span{
            font-size: 40px;  
            font-weight: 800;
        }
    }
    h2{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        animation-delay: 100ms;
    }
    .container{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        gap: 48px;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    picture{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 2
        ;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        video{
            max-width: 500px;
        }
    }
}


.s_hero_section_dark{
    background:#21262E;
    padding: 64px 24px;
    box-sizing: border-box;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    &::before, &::after {
        content: '';
        position: absolute;
        width:100%;
        z-index: 0;
        height: 100%;
        
        max-height: 500PX;
    }
    &::before{
        left: 0;
        top: 0;
        background: url('../images/mask_dark1.svg') no-repeat center;
        background-size: cover;
        background-position: left;
        max-width: 500px;
    }
    &::after{
        right: 0;
        top: 0;
        background: url('../images/mask_dark2.svg') no-repeat center;
        background-size: cover;
        background-position: top right;
        max-width: 350px;
    }
    .container_center{
        width: 100%;
        max-width: 800px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 40px 40px;
        animation-delay: 400ms;
        transition: 1000ms ease all;
        h1{
            text-align: center;
            color: var(--txt_color_light);
            font-size: 24px;
            font-weight: 400;
            margin: 0;
            span{
                font-weight: 800;
                font-size: 48px;
                color: var(--txt_color_light);
            }
        }
        h2{
            color: var(--txt_color_light);
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            margin: 0;
            max-width: 600px;
        }

    }
    .big_picture{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        display: flex;
        justify-content: center;
        gap: 16px;
        max-width: 1380px;
        margin: 0 auto;
        padding: 0 24px 24px;
        box-sizing: border-box;
        animation-delay: 300ms;
        .c_img{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            &:nth-child(1){
                max-width: 216px;
                animation-delay: 200ms;
            }
            &:nth-child(2){
                max-width: 160px;
                animation-delay: 300ms;
            }
            &:nth-child(3){
                max-width: 292px;
                animation-delay: 500ms;
            }
            &:nth-child(4){
                max-width: 174px;
                animation-delay: 600ms;
            }
            &:nth-child(5){
                max-width: 217px;
                animation-delay: 200ms;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 14%;
            bottom: 0;
            background: linear-gradient(to top, #21262E,rgba(33, 38, 46, 0));
            z-index: 1;
            mix-blend-mode: multiply;
        }
    }
}


.s_funciona{
    background: var(--color_darkblue);
    position: relative;
    display: flex;
    align-items: center;

    &::before, &::after {
        content: '';
        position: absolute;
        width:100%;
        max-width: 600px;
        z-index: 3;
        height: 100%;
        max-height: 500PX;
    }
    &::before{
        right: 0;
        top: 0;
        background: url('../images/mask1.png') no-repeat center;
        background-size: contain;
        background-position: right;
    }
    &::after{
        left: 0;
        bottom: 0;
        background: url('../images/mask2.png') no-repeat center;
        background-size: contain;
        background-position: left;
    }
}




.cont_desc{
    h2, .numeral, div{
        color: var(--txt_color_light)!important;
    }
}

.slide{
    display: flex;
    align-items: center;
    height: 100vh;
}



// FOOTER
.s_footer{
    background-color: #201E1E;
    width: 100%;
    display: flex;
    align-items: center;
}
.subfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--txt_color_light);
    padding: 8px 16px;
    box-sizing: border-box;
    .legal{
        font-size: 10px;
        font-weight: 300;
        color: var(--txt_color_light);
    }
}




// ****************

.video{
    overflow: hidden;
    max-width: 600px;
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




@media screen and (max-width:1050px){
    .menu_mobile{
        display: flex;
        span{
            font-size: 24px;
            padding: 0 8px 0 0;
            color: var(--color_light);
        }
    }
    .navbar{
        position: fixed;
        top: 64px;
        right: 0;
        width: 80%;
        height: 100vh;
        z-index: 10;
        background-color: #FFFFFF;
        transform: translateX(100%);
        transition: 300ms ease-out;
        flex-direction: column;
        justify-content:flex-start;
        padding: 24px;
        .nav_links{
            flex-direction: column  ;
            a{
                color: var(--color_darkblue);
            }
        }
        &.activeMobile{
            transform: translateX(0%);
        }
    }
}

@media screen and (max-width:768){
    
}

@media screen and (max-width:480px){
    .subfooter{
        flex-direction: column;
        gap: 8px;
        padding: 16px;
    }
}